@model News

@{
	bool isTemp = Model.DateAdd.Date < Model.DateExpire.Date;
	int daysRemains = (Model.DateExpire.Date - DateTime.Now.Date).Days;
}

<div class="news-author">
	Автор: @Model.UserName
	@if (isTemp)
	{
		@: | Временная новость (дней до истечения: @(daysRemains < 0 ? "истекла" : $"{daysRemains} дн."))
	}
</div>

<div class="news-message">
	@Html.Raw(Model.Message)
</div>

@if (!string.IsNullOrEmpty(Model.Links))
{
	var links = Model.Links.Split(new string[] { ";" }, StringSplitOptions.RemoveEmptyEntries);

	<div class="news-files">
		@foreach (string link in links)
		{
			<div>
				<a href="http://www.vst.vitebsk.energo.net/files/Новости/@Model.Id/@link">
					<i class="icon ic-file"></i> @link
				</a>
			</div>
		}
	</div>
}