* {
	box-sizing: border-box;
}

body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 16px;
	margin: 0;
	background: #efefef;
}

@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(../../fonts/MaterialIcons-Regular.ttf) format('truetype');
	/*src: url(../fonts/MaterialIconsOutlined-Regular.otf) format('opentype');*/
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px; /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;
	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;
	/* Support for IE. */
	font-feature-settings: 'liga';
	/* ����������� ��� �������� ������ */
	width: 1em;
}

.header {
	padding: 1em;
	height: 5em;
	display: block;
	background-image: url('../../images/header.white.jpg');
	background-size: cover;
}

.header img {
	position: relative;
	height: 100%;
}

.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	border-bottom: 1px solid #206fb6;
	background: #fff;
	border-top: 1px solid #eee;
	font-size: .95em;
}

.nav-button {
	padding: 0 3em;
	text-align: center;
	padding-bottom: .25em;
}

	.nav-button span {
		color: #206fb6;
		font-weight: 500;
	}

.nav-button:hover span {
	color: #3cace2;
}

.nav-dropdown {
	position: absolute;
	display: none;
	text-align: left;
	border: 1px solid #206fb6;
	border-top: 1px solid #fff;
	margin-left: -3em;
	background: #fff;
	margin-top: .25em;
	z-index: 1;
}

.nav-button.visible .nav-dropdown {
	display: block;
}

.nav-dropdown a {
	padding: .2em .5em;
	text-decoration: none;
	color: #206fb6;
	display: block;
	font-weight: 500;
	font-size: .95em;
}

.nav-dropdown a:hover {
	color: #1e8ef7;
}

.last {
	direction: rtl;
}

.last .nav-dropdown {
	margin-right: -3em;
}

.body {
	margin-top: .5em;
}

.body.visible {
	opacity: 0.75;
}


.left {
	position: absolute;
	width: 30em;
	padding: 1em;
}

.left-block {
	margin-bottom: 1em;
	background: #fff;
	padding: 1em;
	border: 1px solid #ddd;
	box-shadow: 0 1px 10px 0px #ddd;
}

.link {
	display: block;
	padding: .25em 0;
	color: #206fb6;
	text-decoration: none;
	padding-top: 0;
}

.link:hover {
	color: #1e8ef7;
}

.search {
	width: 100%;
	padding: .25em .5em;
	border: 0;
	border-bottom: 1px solid #206fb6;
	outline: none;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.left-block p {
	margin: .1em 0;
	font-size: .9em;
}

.parsed {
	width: 100%;
	font-size: .9em;
}

.weather-table__daypart {
	width: 6em !important;
}

.weather-table__temp {
	font-weight: 500 !important;
	font-size: 1.1em;
	color: #206fb6 !important;
}

.number {
	color: #206fb6;
	font-weight: 500;
}

.money {
	font-size: .9em;
	width: 100%;
}


.right {
	position: absolute;
	left: 30em;
	right: 0;
	padding: 1em;
}

.news {
	margin-bottom: 1em;
	background: #fff;
	padding: .5em 1em;
	border: 1px solid #ddd;
	box-shadow: 0 1px 10px 0px #ddd;
}

.highlight {
	border: 1px solid #3f8c3c;
	color: #3f8c3c;
	padding: 0 .5em;
	border-radius: 5px;
}

.news-info small {
	margin-right: .5em;
	display: inline-block;
}

.news-caption {
	padding: .5em 0;
}

.news-preview {
	font-style: italic;
	color: #206fb6;
	cursor: pointer;
}

.news-author {
	font-size: .7em;
	padding: .2em;
}

.news-body a[href] {
	color: #206fb6;
	text-decoration: none;
}

.news-body .material-icons {
	vertical-align: middle;
	font-size: 1.3em;
}

.news-body a[href]:hover {
	color: #1e8ef7;
}

.news-files {
	padding-top: 1em;
}

.phone {
	margin-bottom: 1em;
	background: #fff;
	padding: .5em 1em;
	border: 1px solid #ddd;
	box-shadow: 0 1px 10px 0px #ddd;
	display: flex;
	/* align-items: center; */
}

.phone-image {
	width: 7em;
}

.phone-text {
	padding-left: 1em;
	font-size: .9em;
	color: #999;
}

	.phone-text div {
		padding-bottom: .25em;
	}

.preloader {
	display: none;
	position: absolute;
	top: 1.3em;
	right: 1.3em;
	animation: spin 4s linear infinite;
}

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}

.normal {
	color: #000;
}

.red {
	color: red;
}
