@model List<DirectivePage>
@{
	ViewBag.Title = "Директива №1";
	Layout = "~/Areas/Directive/Views/Shared/_Layout.cshtml";
}

<header>@ViewBag.Title</header>

<div class="menu">
	@foreach (var page in Model)
	{
		<a href="~/directive/page/@page.Url">
			<img src="~/Areas/Directive/Content/images/@(page.Url).png" />
			<span>
				@page.Caption
				@if (page.HasUnviewedDocs)
				{
					<span class="new" style="display: inline-block;">new</span>
				}
			</span>
		</a>
	}
</div>