@{
	ViewBag.Title = "Новый список рассылки";
	Layout = "~/Areas/Accidents/Views/Shared/_Layout.cshtml";
}

@using (var db = new SiteContext())
{
	var user = db.Authorize(User);

	if (!user.IsAdmin)
	{
		<div>Нет доступа к настройке списков рассылки. Чтобы внести изменения либо получить доступ, обратитесь в уАСУТП по телефону 3-34</div>
		return;
	}

	<div class="header">
		<span>Создание нового списка рассылки. Введите наименование списка и нажмите сохранить, либо покиньте страницу, чтобы не создавать список.</span>
		<br />
		<a href="@Url.Action("", "list")">Перейти к перечню списков рассылки</a>
	</div>

	<div class="container">
		<div class="form">
			<span>Наименование списка</span>
			<br />
			<input id="name" type="text" placeholder="Введите наименование списка" />
		</div>
		<div class="form buttons">
			<button onclick="addList()" id="before">Создать список</button>
		</div>
	</div>

	<div class="header" id="after" style="display: none;">
		<span>Список создан!</span>
		<br />
		<a href="@Url.Action("edit", "list")" id="link">Перейти к настройке созданного списка</a>
	</div>

	<script>
		function addList() {
			var body = new FormData()
			body.append('Name', document.getElementById('name').value)

			fetch('@Url.Action("add", "list")', { method: 'POST', body: body })
				.then(res => res.json())
				.then(json => {
					if (json.Error) {
						alert(json.Error)
					}
					else if (json.Done) {
						document.getElementById('before').style.display = 'none'
						document.getElementById('after').style.display = 'block'
						document.getElementById('link').href += '/' + json.Id
					}
					else {
						alert('Неизвестная реакция')
						console.log(json)
					}
				})
		}
	</script>
}