@{
	ViewBag.Title = "Списки рассылки";
	Layout = "~/Areas/Accidents/Views/Shared/_Layout.cshtml";
}

@using (var db = new SiteContext())
{
	var user = db.Authorize(User);

	if (!user.IsAdmin)
	{
		<div>Нет доступа к настройке списков рассылки. Чтобы внести изменения либо получить доступ, обратитесь в уАСУТП по телефону 3-34</div>
		return;
	}

	var lists = db.AccidentsLists
		.ToList();

	<div class="header">
		<span>Список существующий списков рассылки сообщений. Для настройки списка, в том числе переименования, изменения списка участников и удаления перейдите по ссылке в его названии</span>
		<a href="@Url.Action("", "records")">Перейти к списку сообщений</a>
		<a href="@Url.Action("add", "list")">Добавить новый список</a>
	</div>

	<div class="view">
		<div class="tr">
			<div class="th">Наименование списка</div>
		</div>
		@foreach (var list in lists)
		{
			<div class="tr">
					<a class="td" href="@Url.Action("edit", "list", new { Id = list.Id })">@list.Name</a>
			</div>
		}
	</div>
}