@{
	ViewBag.Title = "Просмотр | Час ТБ";
	Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (var db = new SiteContext())
{
	var user = db.Authorize(User);
	var date = DateTime.TryParse(Request.QueryString.Get("date"), out DateTime dd) ? dd : DateTime.Today;
	var weekDay = date.DayOfWeek == DayOfWeek.Sunday
		? date.AddDays(-6)
		: date.AddDays(1 - (int)date.DayOfWeek);

	var week = new SafetyWeekRecords(db, user, weekDay);
	ViewBag.IsRedactor = week.IsRedactor;

	<div class="left">
		@if (week.IsRedactor)
		{
			<div class="menu open">
				<div class="menu_header">
					<table>
						<tr>
							<td>Операции</td>
						</tr>
					</table>
				</div>
				<div class="menu_body">
					<a href="~/safety/create?date=@weekDay.ToString("dd.MM.yyyy")">Добавить информационное сообщение</a>
				</div>
			</div>
		}
		<div class="menu open">
			<div class="menu_header">
				<table>
					<tr>
						<td>Навигация</td>
					</tr>
				</table>
			</div>
			<div class="menu_body">
				<a href="~/safety?date=@weekDay.AddDays(-7).ToString("dd.MM.yyyy")">Прошлая неделя</a>
				<a href="~/safety?date=@weekDay.AddDays(7).ToString("dd.MM.yyyy")">Следующая неделя</a>
				<a href="~/safety">Текущая неделя</a>
			</div>
		</div>
	</div>

	<div class="center-right">
		<div class="block">Список информационных сообщений для недели @weekDay.ToString("d MMMM yyyy")</div>

		@foreach (var record in week.Records)
		{
			@Html.Partial("Accident", record);
		}
	</div>
}