@{
    ViewBag.Title = "БРСМ";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section styles {
    <link rel="stylesheet" href="~/Content/css/site.css" />
    <link rel="stylesheet" href="~/Content/css/brsm.css" />
}

<h3>БРСМ</h3>

<div>
    <!--ссылки статические, на локальные документы-->
    <table>
        <tr>
            <td class="td3 brsm_td">
                <a href="/files/Одно окно/Деятельность/7. БРСМ/Отчет о деятельности первичной организации ОО БРСМ.docx">
                    <img class="img3inline" title='Отчет о деятельности ПО ОО "БРСМ" филиала "Витебская ТЭЦ" РУП "Витебскэнерго"' src="~/Content/images/brsm/img/otchet.png" />
                    <br />
                    <p>Отчет о деятельности ПО ОО "БРСМ" филиала "Витебская ТЭЦ" РУП "Витебскэнерго"</p>
                </a>
            </td>
            <td class="td3 brsm_td">
                <a href="/files/Одно окно/Деятельность/7. БРСМ/Символика БРСМ.doc">
                    <img class="img3inline" title='Символика ПО ОО "БРСМ"' src="~/Content/images/brsm/img/simvolika.jpg" />
                    <br />
                    <p>Символика ПО ОО "БРСМ"</p>
                </a>
            </td>
            <td class="td3 brsm_td">
                <a href="/files/Одно окно/Деятельность/7. БРСМ/Устав ОО БРСМ.doc">
                    <img class="img3inline" title='Устав ПО ОО "БРСМ"' src="~/Content/images/brsm/img/ustav.jpg" />
                    <br />
                    <p>Устав ПО ОО "БРСМ"</p>
                </a>
            </td>
        </tr>
    </table>
</div>



<div>
    <!--лента фоток, сделать динамической по возможности -->
    <div class="sim-slider">
        <div class="sim-slider-list">
            @{
                string folderPathBRSM = @"\\web\Files\Одно окно\Деятельность\7. БРСМ\Фото\";
                string[] photoPathMass = Directory.GetFiles(folderPathBRSM);
                int l = photoPathMass.Length;
                string[] photoMass = new string[l];
                for (int ln = 0; ln < l; ln++)
                {
                    photoMass[ln] = photoPathMass[ln].Substring(photoPathMass[ln].LastIndexOf("\\") + 1, photoPathMass[ln].Length - photoPathMass[ln].LastIndexOf("\\") - 1);
                }
                int num = 1;
                foreach (string imgName in photoMass)
                {
                    <div class="sim-slider-element">
                        <img class="img-in-slide" src="http://www.vst.vitebsk.energo.net/files/Одно окно/Деятельность/7. БРСМ/Фото/@imgName" alt="@num">
                    </div>
                    num++;
                }
            }
        </div>
        <div class="sim-slider-arrow-left"></div>
        <div class="sim-slider-arrow-right"></div>
        <div class="sim-slider-dots"></div>
    </div>

    <script>
        function Sim(sldrId) {

            let id = document.getElementById(sldrId);
            if (id) {
                this.sldrRoot = id
            }
            else {
                this.sldrRoot = document.querySelector('.sim-slider')
            };

            // Carousel objects
            this.sldrList = this.sldrRoot.querySelector('.sim-slider-list');
            this.sldrElements = this.sldrList.querySelectorAll('.sim-slider-element');
            this.sldrElemFirst = this.sldrList.querySelector('.sim-slider-element');
            this.leftArrow = this.sldrRoot.querySelector('div.sim-slider-arrow-left');
            this.rightArrow = this.sldrRoot.querySelector('div.sim-slider-arrow-right');
            this.indicatorDots = this.sldrRoot.querySelector('div.sim-slider-dots');
            this.imgElements = this.sldrRoot.querySelectorAll('.img-in-slide');

            // Initialization
            this.options = Sim.defaults;
            Sim.initialize(this)
        };

        Sim.defaults = {

            // Default options for the carousel
            loop: true,     // Бесконечное зацикливание слайдера
            auto: true,     // Автоматическое пролистывание
            interval: 5000, // Интервал между пролистыванием элементов (мс)
            arrows: true,   // Пролистывание стрелками
            dots: true      // Индикаторные точки
        };

        Sim.prototype.elemPrev = function (num) {
            num = num || 1;

            let prevElement = this.currentElement;
            this.currentElement -= num;
            if (this.currentElement < 0) this.currentElement = this.elemCount - 1;

            if (!this.options.loop) {
                if (this.currentElement == 0) {
                    this.leftArrow.style.display = 'none'
                };
                this.rightArrow.style.display = 'block'
            };

            this.sldrElements[this.currentElement].style.opacity = '1';
            this.sldrElements[prevElement].style.opacity = '0';
            this.imgElements[this.currentElement].margin = (1000 - this.currentElement.width) / 2;


            if (this.options.dots) {
                this.dotOn(prevElement); this.dotOff(this.currentElement)
            }
        };

        Sim.prototype.elemNext = function (num) {
            num = num || 1;

            let prevElement = this.currentElement;
            this.currentElement += num;
            if (this.currentElement >= this.elemCount) this.currentElement = 0;

            if (!this.options.loop) {
                if (this.currentElement == this.elemCount - 1) {
                    this.rightArrow.style.display = 'none'
                };
                this.leftArrow.style.display = 'block'
            };

            this.sldrElements[this.currentElement].style.opacity = '1';
            this.sldrElements[prevElement].style.opacity = '0';

            if (this.options.dots) {
                this.dotOn(prevElement); this.dotOff(this.currentElement)
            }
        };

        Sim.prototype.dotOn = function (num) {
            this.indicatorDotsAll[num].style.cssText = 'background-color:rgb(255 56 56); cursor:pointer;'
        };

        Sim.prototype.dotOff = function (num) {
            this.indicatorDotsAll[num].style.cssText = 'background-color:rgb(27 255 108); cursor:default;'
        };

        Sim.initialize = function (that) {

            // Constants
            that.elemCount = that.sldrElements.length; // Количество элементов

            // Variables
            that.currentElement = 0;
            let bgTime = getTime();

            // Functions
            function getTime() {
                return new Date().getTime();
            };
            function setAutoScroll() {
                that.autoScroll = setInterval(function () {
                    let fnTime = getTime();
                    if (fnTime - bgTime + 10 > that.options.interval) {
                        bgTime = fnTime; that.elemNext()
                    }
                }, that.options.interval)
            };

            // Start initialization
            if (that.elemCount <= 1) {   // Отключить навигацию
                that.options.auto = false; that.options.arrows = false; that.options.dots = false;
                that.leftArrow.style.display = 'none'; that.rightArrow.style.display = 'none'
            };
            if (that.elemCount >= 1) {   // показать первый элемент
                that.sldrElemFirst.style.opacity = '1';
            };

            if (!that.options.loop) {
                that.leftArrow.style.display = 'none';  // отключить левую стрелку
                that.options.auto = false; // отключить автопркрутку
            }
            else if (that.options.auto) {   // инициализация автопрокруки
                setAutoScroll();
                // Остановка прокрутки при наведении мыши на элемент
                that.sldrList.addEventListener('mouseenter', function () { clearInterval(that.autoScroll) }, false);
                that.sldrList.addEventListener('mouseleave', setAutoScroll, false)
            };

            if (that.options.arrows) {  // инициализация стрелок
                that.leftArrow.addEventListener('click', function () {
                    let fnTime = getTime();
                    if (fnTime - bgTime > 1000) {
                        bgTime = fnTime; that.elemPrev()
                    }
                }, false);
                that.rightArrow.addEventListener('click', function () {
                    let fnTime = getTime();
                    if (fnTime - bgTime > 1000) {
                        bgTime = fnTime; that.elemNext()
                    }
                }, false)
            }
            else {
                that.leftArrow.style.display = 'none'; that.rightArrow.style.display = 'none'
            };

            if (that.options.dots) {  // инициализация индикаторных точек
                let sum = '', diffNum;
                for (let i = 0; i < that.elemCount; i++) {
                    sum += '<span class="sim-dot"></span>'
                };
                that.indicatorDots.innerHTML = sum;
                that.indicatorDotsAll = that.sldrRoot.querySelectorAll('span.sim-dot');
                // Назначаем точкам обработчик события 'click'
                for (let n = 0; n < that.elemCount; n++) {
                    that.indicatorDotsAll[n].addEventListener('click', function () {
                        diffNum = Math.abs(n - that.currentElement);
                        if (n < that.currentElement) {
                            bgTime = getTime(); that.elemPrev(diffNum)
                        }
                        else if (n > that.currentElement) {
                            bgTime = getTime(); that.elemNext(diffNum)
                        }
                        // Если n == that.currentElement ничего не делаем
                    }, false)
                };
                that.dotOff(0);  // точка[0] выключена, остальные включены
                for (let i = 1; i < that.elemCount; i++) {
                    that.dotOn(i)
                }
            }
        };

        new Sim();
    </script>

    <div class="invisibleline">
    </div>
</div>



<div>
    <!--ссылки на сайт БРСМ, президента РБ, год-->
    <table>
        <tr>
            <td class="td2 brsm_td">
                <a href="https://www.brsm.by/ru" target="_blank">
                    <img class="img2inline" title='brsm.by' src="~/Content/images/brsm/img/brsm-by.jpg" />
                    <br />
                    <p>Сайт БРСМ</p>
                </a>
            </td>
            <td class="td2 brsm_td">
                <a href="https://president.gov.by/ru" target="_blank">
                    <img class="img2inline" title='Сайт Президента Республики Беларусь' src="~/Content/images/brsm/img/siteprezident.png" />
                    <br />
                    <p>Сайт Президента Республики Беларусь</p>
                </a>
            </td>
        </tr>
        <tr>
            <td class="td1 brsm_td">
                <a href="https://president.gov.by/ru/documents/ukaz-no-1-ot-3-anvara-2025-g" target="_blank">
                    <img class="img1inline" title='Об объявлении 2025 года Годом благоустройства' src="~/Content/images/brsm/img/2025godblagoystroistva.jpg" />
                </a>
            </td>
        </tr>
    </table>
</div>