@{
	ViewBag.Title = "БРСМ";
	Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h3>БРСМ</h3>

<div>
	<a href="/files/Одно окно/Деятельность/7. БРСМ/Отчет о деятельности первичной организации ОО БРСМ.docx">Отчет о деятельности ПО ОО "БРСМ" филиала "Витебская ТЭЦ" РУП "Витебскэнерго"</a>
	<a href="/files/Одно окно/Деятельность/7. БРСМ/Символика БРСМ.doc">Символика ПО ОО "БРСМ"</a>
	<a href="/files/Одно окно/Деятельность/7. БРСМ/Устав ОО БРСМ.doc">Устав ПО ОО "БРСМ"</a>
</div>