@*@{
    ViewBag.Title = "Отдых, оздоровление";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h3>@ViewBag.Title</h3>

<p>
    Приказ РУП "Витебскэнерго" №508 от 31.03.2023 "Об организации оздоровления"
</p>

<div class="iframer">
    <iframe src="http://www.vst.vitebsk.energo.net/files/Одно окно/Деятельность/5. Отдых/Оздоровление.pdf"></iframe>
</div>

<br />

<p>
    Приказ Приказ №311 от 14.03.2025 "О внесении изменений в приказ от 26.07.2017 №585"
</p>

<div class="iframer">
    <iframe src="http://www.vst.vitebsk.energo.net/files/Одно окно/Деятельность/5. Отдых/Приказ №311 от 14.03.2025.pdf"></iframe>
</div>*@

@*
сверху старое, метод с фреймом инетерсный, может где-нибудь в другом месте понадобится
внизу "новое", аналогично другим "живым" папкам
*@

@{
    ViewBag.Title = "Отдых, оздоровление";
    Layout = "~/Views/Shared/_MainLayout.cshtml";

    string parentPath = @"Деятельность\5. Отдых\";
}

@Html.Partial("_LiveFolder", new LiveFolder
{
    ViewNested = true,
    NoImages = true,
    Name = "Отдых, оздоровление",
    RelativePath = parentPath,
})