@{
	ViewBag.Title = "Отдых, оздоровление";
	Layout = "~/Views/Shared/_DocsLayout.cshtml";
}

<h3>@ViewBag.Title</h3>

<p>
	Решение совместного заседания администрации и профсоюзного комитета РУП "Витебскэнерго" от 29.01.2016 г. 
	"Об организации оздоровления в ведомственном оздоровительном комплексе "Сосновый бор" работников РУП "Витебскэнерго", 
	членов их семей, а также бывших работников предприятия, вышедших на пенсию в установленном порядке и более не работающих"
</p>

<div class="iframer">
	<iframe src="http://www.vst.vitebsk.energo.net/files/Одно окно/Деятельность/5. Отдых/Приказ №568 от 23.06.2021.pdf"></iframe>
</div>
