@{
	ViewBag.Title = "Отдых, оздоровление";
	Layout = "~/Views/Shared/_DocsLayout.cshtml";
}

<h3>@ViewBag.Title</h3>

<p>
	Приказ РУП "Витебскэнерго" №508 от 31.03.2023 "Об организации оздоровления"
</p>

<div class="iframer">
	<iframe src="http://www.vst.vitebsk.energo.net/files/Одно окно/Деятельность/5. Отдых/Оздоровление.pdf"></iframe>
</div>
