@{
	ViewBag.Title = "Профком";
	Layout = "~/Views/Shared/_DocsLayout.cshtml";
}

<h3>@ViewBag.Title</h3>

@Html.Partial("_LiveFolder", new LiveFolder
{
	Name = null,
	RelativePath = "Деятельность/6. Профком/",
	ViewNested = true
})