
<div class="modal-header">
	<div>
		<span class="modal-caption">@ViewBag.Title</span>
	</div>
	<div>
		<button no-border onclick="modal()">
			<i icon>clear</i>
		</button>
	</div>
</div>

<div class="modal-body">
	@RenderBody()
</div>

<div class="modal-buttons">
	@RenderSection("buttons", false)
</div>
