<!DOCTYPE html>

<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<meta charset="utf-8" />
	<title>@ViewBag.Title</title>
	<link rel="stylesheet" href="~/Content/style.css" />
	@if (ViewBag.IsDocsAdmin ?? false)
	{
		<link rel="stylesheet" href="~/Content/lib/jquery-ui.min.css" />
	}
	<link rel="shortcut icon" href="~/Content/favicon.ico" type="image/x-icon" />
</head>
<body>
	@Html.Action("Menu", "Default", new { IsDocsAdmin = ViewBag.IsDocsAdmin })

	<div>
		@RenderBody()
	</div>

	<div id="overlay">
		<div id="modal"></div>
	</div>

	@if (ViewBag.IsDocsAdmin ?? false)
	{
		<script src="~/Content/lib/jquery-3.6.0.min.js"></script>
		<script src="~/Content/lib/jquery-ui.min.js"></script>
		<script src="~/Content/index.js"></script>
	}
	@RenderSection("scripts", false)
</body>
</html>
