/*#region Base */

* {
	box-sizing: border-box;
}

@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	/*src: url(../fonts/MaterialIcons-Regular.ttf) format('truetype');*/
	src: url(fonts/MaterialIcons-Regular.ttf) format('opentype');
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 1.5em; /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;
	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;
	/* Support for IE. */
	font-feature-settings: 'liga';
	vertical-align: middle;
}

body {
	background: url('../../../Content/images/background.white.png');
	font-size: 14px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

	body.dark {
		background: url('../../../Content/images/background.white.png');
		/*color: #fff;*/
	}

a {
	color: Highlight;
}

p {
	font-weight: 500;
	text-align: center;
}

.dark .material-icons {
	/*color: #fff;*/
}

.good {
	color: #15a704;
	font-weight: 500;
}

.bad {
	color: #ff481f;
	font-weight: 500;
}

/*#endregion */


/*#region Structure */

.content-center {
	position: absolute;
	left: 10em;
	right: 10em;
	margin: auto;
	max-width: 100em;
}

.container {
	background: #fff;
	border: 1px solid #ddd;
	box-shadow: 0 0 4px 1px #ccc;
	padding: 1em;
}

	.container + .container {
		margin-top: .5em;
	}

/*#endregion */


/*#region Header */

.header {
	padding: .5em;
	background: #fff;
	border: 1px solid #ddd;
	margin-bottom: 1em;
	box-shadow: 0 0 10px 0px #ccc;
}

	.header a,
	.header span {
		display: block;
		margin-bottom: .5em;
	}

/*#endregion */


/*#region Layout */

.list {
	display: inline-block;
	width: 33%;
	padding: 1em;
	background: #fff;
	border: 1px solid #ddd;
	margin: .2em 0em;
	text-decoration: none;
	color: #000;
}

	.list b {
		text-decoration: underline;
		color: Highlight;
	}

	.list .unseen {
		color: #ff481f;
	}

/*#endregion */


/*#region Table view */

.view {
	display: table;
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #ddd;
	margin-bottom: 1em;
	box-shadow: 0 0 10px 0px #ccc;
}

	.view a {
		text-decoration: none;
		color: #000;
	}

	.view .tr {
		display: table-row;
	}

	.view .th,
	.view .td {
		display: table-cell;
		border: 1px solid #ddd;
		padding: .5em;
	}

	.view .th {
		background-color: #eee;
		font-weight: 500;
	}

	.view .td {
		background-color: #fff;
	}


	.view .viewed,
	.view .viewed .material-icons {
		/* color: #999; */
	}

	.view .tr:hover .td {
		background-color: #f1f8ff;
		color: #000;
	}

	.view .caption {
		display: table-row;
	}

		.view .caption > div {
			display: table-cell;
			background-color: #fff;
			border: 1px solid #ddd;
			padding: 3em 3em .2em;
			font-weight: 500;
			border-left: 0;
			border-right: 0;
		}

			.view .caption > div:first-child {
			}

		.view .caption small {
			font-weight: normal;
			margin-left: 4em;
			color: #555;
		}

		.view .caption > div:last-child {
		}

	.view .c {
		text-align: center;
	}

	.view .text > div {
		background-color: #fff;
		border: 1px solid #ddd;
		padding: .2em 2em;
		font-style: italic;
		color: #555;
	}

		.view .text > div:first-child {
			border-right: 0;
		}

		.view .text > div:last-child {
			border-left: 0;
		}

/*#endregion */


/*#region Details & edit */

.details > div {
	margin: 1em 0;
}

.form {
	width: 100%;
	border-collapse: collapse;
}

	.form select {
		padding: .3em .5em;
		width: 100%;
		border: 0;
		border-bottom: 1px solid #ccc;
	}


	.form td select {
		border-bottom: 0;
	}

	.form button,
	.form label {
		background: #eee;
		border: 1px solid #bbb;
		margin: .1em 0;
		display: inline-block;
		padding: .3em .5em;
		box-shadow: 0 0 4px 0 #ccc;
		cursor: pointer;
	}

		.form button:hover,
		.form label:hover {
			border-color: #1e8ef7;
		}

	.form label {
		width: 11.5em;
		margin: .5em;
	}

	.form input {
		width: 100%;
		padding: .3em .5em;
		background: #fff;
		border: 0;
		border-bottom: 1px solid #bbb;
		outline: none;
	}

		.form input[type="date"] {
			width: 10em;
			margin-left: 1em;
		}

		.form input[type="file"] {
			visibility: hidden;
			display: none;
		}

		.form input:focus {
			border-color: #1e8ef7;
		}

	.form textarea {
		border: 1px solid #bbb;
		width: 100%;
		resize: vertical;
		padding: .5em;
		outline: none;
	}

		.form textarea:focus {
			border-color: #1e8ef7;
		}

	.form span {
		margin-left: 1em;
	}

		.form span.material-icons {
			margin-left: 0;
			margin-right: .2em;
		}

	.form th {
		font-weight: 500;
		text-align: left;
		border-bottom: 1px solid #ccc;
	}

	.form td {
		border-bottom: 1px solid #eee;
	}


.buttons {
	padding: .2em;
	text-align: right;
}

.files button {
	width: 12em;
	margin-right: 1em;
}

.files a {
	display: block;
	margin: .2em;
}

.file {
	margin: .5em;
}

	.file a {
		display: inline;
		margin: 0;
	}

/*#endregion */
