@{
	ViewBag.Title = "Вышестоящая организация";
	Layout = "~/Views/Shared/_DocsLayout.cshtml";
}

<h3>@ViewBag.Title</h3>

<p>
	<b>Мы подчинены юридическому лицу:</b>
</p>
<p>
	Республиканскому унитарному предприятию электроэнергетики "ВИТЕБСКЭНЕРГО"
</p>
<p>
	Адрес: город Витебск, улица Правды, 30
</p>
<p>
	Режим работы:
	<br />с <i>8-00</i> до <i>12.30</i>, с <i>13.15</i> до <i>17-00</i> с понедельника по четверг
	<br />с <i>8-00</i> до <i>12.30</i>, с <i>13.15</i> до <i>15-45</i> в пятницу
	<br />Выходной: суббота, воскресенье
</p>