@{
	ViewBag.Title = "График личного приема граждан";
	Layout = "~/Views/Shared/_DocsLayout.cshtml";
}

<h3>График личного приема граждан, в том числе индивидуальных предпринимателей, их представителей, представителей юридических лиц</h3>

<table>
	<tr>
		<td>
			<img src="http://www.vst.vitebsk.energo.net/big_photos/Станьковский Александр Станиславович.jpg" style="width: 200px;" />
		</td>
		<td>
			<p class="status">Директор филиала "Витебская ТЭЦ" РУП "Витебскэнерго"</p>
			<p class="name">Станьковский Александр Станиславович</p>
			<p>График: второй и четвертый вторник месяца с <i>16-00</i> до <i>20-00</i></p>
			<p>Телефоны: внутренний <i>3-50</i>, городской <i>+375 (212) 37-34-24</i></p>
			<p>Помещение: кабинет директора, расположенный на втором этаже корпуса "Главная контора с проходной"</p>
		</td>
	</tr>

	<tr>
		<td>
			<img src="http://www.vst.vitebsk.energo.net/big_photos/Матвиевич Алексей Петрович.jpg" style="width: 200px;" />
		</td>
		<td>
			<p class="status">Первый заместитель директора - главный инженер</p>
			<p class="name">Матвиевич Алексей Петрович</p>
			<p>График: по понедельникам с <i>16-00</i> до <i>18-00</i></p>
			<p>Телефоны: внутренний <i>3-51</i>, городской <i>+375 (212) 37-34-23</i></p>
			<p>Помещение: кабинет главного инженера, расположенный на четвертом этаже служебно-бытового корпуса</p>
		</td>
	</tr>

	<tr>
		<td>
			<img src="http://www.vst.vitebsk.energo.net/big_photos/Каплевский Александр Яковлевич.jpg" style="width: 200px;" />
		</td>
		<td>
			<p class="status">Заместитель директора по общим вопросам и идеологической работе</p>
			<p class="name">Каплевский Александр Яковлевич</p>
			<p>График: по четвергам с <i>16-00</i> до <i>18-00</i></p>
			<p>Телефоны: внутренний <i>3-54</i>, городской <i>+375 (212) 37-34-27</i></p>
			<p>Помещение: кабинет заместителя директора, расположенный на втором этаже корпуса "Главная контора с проходной"</p>
		</td>
	</tr>
</table>

<p>
	При временном отсутствии в день и время личного приема руководителя филиала, 
	личный прием проводит лицо, исполняющее его обязанности 
	в соответствии с приказом о распределении обязанностей либо локальными нормативными актами.
</p>
<p>
	В соответствии со статьей 3 Закона Республики Беларусь "Об обращениях граждан и юридических лиц" от 18 июля 2011 г. № 300-3
	при проведении личного приема по решению руководителя организации могут применяться технические средства (аудио- и видеозапись, кино- и фотосъемка).
	О применении таких средств граждане будут уведомлены до начала личного приема.
</p>