@{
	ViewBag.Title = "Запись не прием";
	Layout = "~/Views/Shared/_DocsLayout.cshtml";
}

<h3>Запись на прием к руководству</h3>

<table>
	<tr>
		<td>
			<img src="http://www.vst.vitebsk.energo.net/big_photos/Жук Елена Александровна.jpg" style="width: 200px;"/>
		</td>
		<td>
			<p class="status">Секретарь приемной руководителя</p>
			<p class="name">ЖУК ЕЛЕНА АЛЕКСАНДРОВНА</p>
			<p>телефон внутренний <i>3-59</i></p>
			<p>городской <i>+375 (212) 37-34-01</i></p>
		</td>
	</tr>
</table>

<p>Приемная расположена на втором этаже корпуса "Главная контора с проходной"</p>
<p>Предварительная запись на прием и консультирование по вопросам личного приема граждан к директору, к первому заместителю директора - главному инженеру, к заместителю директора по общим вопросам и идеологической работе</p>