@{
    ViewBag.Title = "Электронное обращение";
    Layout = "~/Views/Shared/_DocsLayout.cshtml";
}

<style>
    .titles {
        font: bold 16pt Segoe UI, sans-serif;
        text-align: center;
    }

    .answer {
        font: bold 14pt Segoe UI, sans-serif;
        text-align: center;
    }

    td > i {
        color: red;
    }

    .ul {
        padding-left: 40px;
    }

        .ul > li {
            list-style-type: circle;
        }

    .error {
        color: red
    }

    form {
        text-align: center;
    }

    .form {
        width: 70%;
        min-width: 500px;
        margin: 0 auto;
    }

        .form input[type=text],
        .form textarea,
        .form select {
            font: normal 11pt Calibri !important;
            text-align: left !important;
            border: 1px solid #ccc;
            padding: 2px;
            color: #000;
            width: 100%;
        }
</style>

<h3>Создание электронного обращения</h3>


<p>
    Электронные обращения граждан, в том числе индивидуальных предпринимателей (далее – граждан), и юридических лиц адресатом рассматриваются в соответствии с требованиями Закона Республики Беларусь от 18 июля 2011 года ”Об обращениях граждан и юридических лиц“.
</p>
<p>
    В соответствии с Законом Республики Беларусь от 18 июля 2011 года ”Об обращениях граждан и юридических лиц“ электронное обращение излагается на белорусском или русском языках.
</p>
<p>
    Электронное обращение гражданина в обязательном порядке должно содержать:
</p>

<ul class='ul'>
    <li>фамилию, собственное имя, отчество либо инициалы гражданина;
    <li>адрес места жительства (места пребывания) гражданина;
    <li>изложение сути обращения;
    <li>
        адрес электронной почты гражданина.
        Электронное обращение юридического лица в обязательном порядке должно содержать:
    <li>наименование и (или) адрес организации либо должность лица, которым направляется обращение;
    <li>полное наименование юридического лица и его место нахождения;
    <li>изложение сути обращения;
    <li>фамилию, собственное имя, отчество лица либо инициалы руководителя или лица, уполномоченного в установленном порядке подписывать обращения;
    <li>
        адрес электронной почты юридического лица.
        Электронные обращения должны быть рассмотрены не позднее 15 дней со дня регистрации, а требующие дополнительного изучения и проверки – не позднее 1 месяца.
        Ответы на электронные обращения направляются в электронном виде на адрес электронной почты, указанный в электронном обращении, либо в письменном виде на адрес места жительства (места пребывания) гражданина или места нахождения юридического лица в случаях, установленных Законом Республики Беларусь от 18 июля 2011 года ”Об обращениях граждан и юридических лиц“.
        Оставляются без рассмотрения по существу обращения, которые (по которым):
    <li>изложены не на белорусском или русском языке;
    <li>не содержат фамилии, собственного имени, отчества, адреса места жительства (места пребывания) гражданина;
    <li>не содержат полного наименования юридического лица и адреса его места нахождения, фамилии, собственного имени, отчества руководителя или лица, уполномоченного в установленном порядке подписывать обращения (для юридических лиц);
    <li>содержат текст, не поддающийся прочтению;
    <li>содержат нецензурные либо оскорбительные слова или выражения;
    <li>подлежат рассмотрению в соответствии с законодательством о конституционном судопроизводстве, гражданским, гражданским процессуальным, хозяйственным процессуальным, уголовно-процессуальным законодательством, законодательством, определяющим порядок административного процесса, законодательством об административных процедурах либо в соответствии с законодательными актами установлен иной порядок подачи и рассмотрения таких обращений;
    <li>содержат вопросы, не относящиеся к компетенции адресата;
    <li>пропущен без уважительной причины срок подачи жалобы;
    <li>подано повторное обращение и в нем не содержатся новые обстоятельства;
    <li>с заявителем прекращена переписка.
</ul>

<p>
    Отзыв электронного обращения осуществляется путем подачи письменного заявления либо направления заявления в электронной форме тем же способом, которым было направлено электронное обращение.
</p>
<p>
    <b>Обратиться как:</b>&emsp;
    <select onchange='typeChange(this)' id='typeSelect'>
        <option value='one'>Физическое лицо
        <option value='entity'>Юридическое лицо
    </select>
</p>

Вы обращаетесь как <a id='T1'>физическое лицо</a>
Вы звяртаецеся як <a id='T2'>фiзiчная асоба</a>

<p>
    Электронные обращения граждан, в том числе индивидуальных предпринимателей (далее – граждан), и юридических лиц адресатом рассматриваются в соответствии с требованиями Закона Республики Беларусь от 18 июля 2011 года ”Об обращениях граждан и юридических лиц“.
</p>

<div class="answer"></div>

<form method='post' id="form" action="@Url.Action("mail", "Docs")">
    <table class='form'>
        <tr><td><br /><b id='T3'>Для оформления электронного обращения выберите адресата: </b></tr>
        <tr>
            <td>
                <select name='to'>
                    <option value='secretary'>Приёмная
                    <option value='registry'>Отдел кадров
                </select>
        </tr>

        <tr><td width="700px"><br /><b>Ваш e-mail / Ваш e-mail <i>*</i></b></tr>
        <tr><td><input name='email' type='text' required="true" /></tr>

        <tr><td><br /><b id='T3'>Фамилия, имя, отчество гражданина / Прозвiшча, iмя, iмя па бацьку грамадзянiна</b> <i>*</i></tr>
        <tr><td><input name="fio" type='text' required="true" /></tr>

        <tr><td id='T4'></tr>
        <tr><td id='T5'></tr>

        <tr><td><br /><b id='T6'>Адрес места жительства либо места пребывания гражданина / Адрас месца жыхарства або месца знаходжання грамадзянiна</b> <i>*</i></tr>
        <tr><td><input name='adress' type='text' required="true" /></tr>

        <tr><td><br /><b>Текст сообщения / Тэкст паведамлення <i>*</i></b></tr>
        <tr><td><textarea name='body' required="true"></textarea></tr>
        <tr><td>Количество символов в тексте обращения - не ограничено / Колькасць знакаў у тэксце звароту - не абмежавана.</tr>
    </table>
</form>

<table class='form'>
    <tr><td width='700px'><br /><b>Вложенные файлы / Укладзенныя файлы </b></tr>
    <tr>
        <td>
            <iframe name='upload' src='' class='hide'></iframe>
            <form action='@Url.Action("mailfile", "Docs")' method='post' enctype='multipart/form-data' target='upload' accept-charset="utf-8">
                Выбрать файл: <input type='file' name='FILE1'>
                <input type='submit' value='Загрузить' />
            </form>
    </tr>
    <tr><td><div id='files'></div></tr>
    <tr><td><br />Разрешенные типы файлов: pdf, docx, doc, rtf, txt, odt, zip, rar, png, tiff, jpeg, jpg. Суммарный объем вложенных файлов не должен превышать 10 Мб /<br />Дазволеныя тыпы файлаў: pdf, docx, doc, rtf, txt, odt, zip, rar, png, tiff, jpeg, jpg. Сумарны аб’ем укладзенных файлаў не павiнен перавышаць 10 Мб.</tr>
    <tr><td><br />Обратите внимание! Символом * отмечены обязательные для заполнения поля / Звярнiце ўвагу! Сiмвалам * адзначаны абавязковыя палi для запаўнення.</tr>
    <tr><td><br /><input type='button' onclick="sendMail()" value='Подать обращение / Адправіць паведамленне' /></tr>
</table>

<script src="~/Content/lib/jquery/jquery-1.12.4.min.js"></script>
<script>
	var typeMail = "one";
    var typeDefs = {
        one: [
            "физическое лицо",
            "фiзiчная асоба",
            "Фамилия, имя, отчество гражданина / Прозвiшча, iмя, iмя па бацьку грамадзянiна",
            "",
            "",
            "Адрес места жительства либо места пребывания гражданина / Адрас месца жыхарства або месца знаходжання грамадзянiна"
        ],
        entity: [
            "юридическое лицо",
            "юрыдычная асоба",
            "Полное наименование юридического лица / Поўнае найменне юрыдычнай асобы. * ",
            "<br /><b>Фамилия, имя, отчество лица, уполномоченного в установленном порядке подписывать обращения / Прозвiшча, iмя, iмя па-бацьку асобы, упаўнаватай ва ўстаноўленым парадку падiсваць звароты</b> <i>*</i>",
            "<input name='grant' required='true' />",
            "Адрес места нахождения юридического лица / Адрас месца знаходжання юрыдычнай асобы."
        ]
    };

	function typeChange(select) {
		typeMail = select.value;
		for (var i = 1; i < 7; i++) {
			document.getElementById('T' + i).innerHTML = typeDefs[typeMail][i - 1];
		}
	}

	function sendMail() {
		var error = false;

		$("#form").find("input, textarea").each(function() {
			if (this.getAttribute("required") == "true" && this.value == "") {
				$(this).after("<span class='error'>Введите данные. </span>");
				error = true;
			} else if (this.hasAttribute("pattern")) {
				var reg = new RegExp(this.getAttribute("pattern"), 'i');
				if (!reg.test(this.value)) {
					$(this).after("<span class='error'>Проверьте данные на соответствие нужному формату. </span>");
					error = true;
				}
			}
		});

		if (!error) {
			var files = "&files=";
			$(".icon-attach-file").each(function() {
				files += "<>" + encodeURIComponent(this.innerHTML);
			});
			$.post('@Url.Action("mail", "Docs")', $("#form").serialize() + files, function(data) {
				$(".answer").html(data);
			});
		} else {
			setTimeout(function() {
				$(".error").fadeOut(300, function() { $(".error").remove(); });
			}, 2000);
		}
	}

	function onUpload(text) {

        var div0 = document.createElement("div");

		var div1 = document.createElement("div");
		div1.className = "icon-attach-file";
		div1.innerHTML = text;
        
		var div2 = document.createElement("div");
		div2.className = "icon-delete";
		div2.innerHTML = "&thinsp;";
        div2.onclick = function () {
            document.getElementById("files").removeChild(div0);
        };

        div0.className = "addFFile";
        div0.appendChild(div1);
        div0.appendChild(div2);

		document.getElementById("files").appendChild(div0);
	}
</script>