.parsed {
	width: 100%;
	font-size: .9em;
}

.weather-table__daypart {
	width: 6em !important;
}

.weather-table__temp {
	font-weight: 500 !important;
	font-size: 1.1em;
	color: #206fb6 !important;
}

.dark .weather-table__temp {
	color: #3cace2 !important;
}

.money {
	font-size: .9em;
	width: 100%;
}

.news-info {
	color: #666;
}

.dark .news-info {
	color: #999;
}

.news-info small {
	margin-right: .5em;
	display: inline-block;
}

.news-caption {
	padding: .5em 0;
}

.news-preview {
	font-style: italic;
	color: #206fb6;
	cursor: pointer;
}

.news-author {
	font-size: .7em;
	padding: .2em;
	color: #666;
}

.dark .news-author {
	color: #999;
}

.news-body a[href] {
	color: #206fb6;
	text-decoration: none;
}

.news-body .material-icons {
	vertical-align: middle;
	font-size: 1.3em;
}

.news-body a[href]:hover {
	color: #1e8ef7;
}

.dark .news-body a[href] {
	color: #3cace2;
}

	.dark .news-body a[href]:hover {
		color: #1e8ef7;
	}

.news-files {
	padding-top: 1em;
}

.phone {
	padding: .5em 1em;
	display: flex;
}

.phone-image {
	width: 7em;
}

.phone-image img {
	height: 100%;
}

.phone-text {
	padding-left: 1em;
	font-size: .9em;
	color: #999;
}

.dark .phone-text {
	color: #ccc;
}

	.phone-text div {
		padding-bottom: .25em;
	}

.preloader {
	display: none;
	position: absolute;
	top: 1.3em;
	right: 1.3em;
	animation: spin 4s linear infinite;
}
