

/* Weather */

.weather_today, .weather_another {
	text-align: center;
}

	.weather_today b {
		color: #1db123;
		font-size: 1.1em;
	}

	.weather_another i {
		font-size: .9em;
	}

.weather_table li {
	background: #fff;
	border: 1px solid #ccc;
	margin-bottom: 10px;
	padding: 5px 10px;
}

.weather_table .date {
	font-size: .88em;
	color: #333;
	width: 70px;
	float: left;
	margin-top: 29px;
	line-height: .9;
	position: relative;
}

	.weather_table .date strong {
		font-size: 42px;
		font-weight: bold;
	}

	.weather_table .date span {
		position: relative;
		top: -22px;
		left: 2px;
		font-weight: bold;
		color: #999;
	}

.h-weather {
	position: relative;
	margin-left: 65px;
}

.t-weather {
	width: 100%;
}

	.t-weather p {
		display: inline-block;
		margin: 0;
		vertical-align: middle;
	}

	.t-weather .t {
		display: none;
	}

	.t-weather nobr {
		color: #206fb6;
		font-weight: 500;
	}

	.dark .t-weather nobr {
		color: #3cace2;
	}

/* Notifications */

.notifications {
	margin-bottom: 10px;
	border: 1px solid #ccc;
}

	.notifications table {
		width: 100%;
	}

.notifications_header {
	background: #eee;
	cursor: pointer;
}

	.notifications_header th {
		text-align: left;
		padding: 8px;
		padding-left: 15px;
		color: #555;
		transition: color linear .35s;
	}

.highlight .notifications_header th {
	color: #20b332;
	transition: color linear .35s;
}

.notifications_body {
	display: none;
	background: #fff;
	font-size: 11pt;
}

	.notifications_body tr:hover {
		background: #eee;
	}

	.notifications_body td {
		padding: 3px 2px 3px 10px;
	}

	.notifications_body a {
		color: #000;
		text-decoration: none;
	}

.open .notifications_body {
	display: block;
}


.notes .caption {
	padding-left: 15px;
	color: #555;
	font-weight: bold;
	transition: color linear .5s;
}

	.notes .caption.highlight {
		color: #20b332;
		transition: color linear .5s;
	}

.notes .note_table {
	padding: 5px;
}

.notes th {
	font: normal 8pt Segoe UI, sans-serif;
}

.notes td {
	padding: 2px;
	font: normal 10pt Segoe UI, sans-serif;
}

/* Another */

.preloader {
	display: none;
	position: absolute;
	top: 1em;
	right: 1.3em;
	animation: spin 4s linear infinite;
}

#opc_panel {
	display: none;
	position: absolute;
	top: 14em;
	left: 1em;
	width: 19em;
	background: #fff;
	color: #000;
	border: 1px solid #ccc;
	box-shadow: 0 1px 15px 0 #ccc;
	padding: 0;
	z-index: 1;
}

	#opc_panel:hover {
		background: #fff;
	}

	#opc_panel > a {
		color: #000;
		text-decoration: none;
		display: block;
		font-size: 1.1em;
		padding: .25em .5em;
	}

		#opc_panel > a:hover {
			background: #eee;
		}

.dark #opc_panel {
	background: #333;
	color: #fff;
	border: 1px solid #111;
	box-shadow: 0 1px 15px 0 #000;
}

	.dark #opc_panel:hover {
		background: #333;
	}

	.dark #opc_panel > a {
		color: #fff;
	}

		.dark #opc_panel > a:hover {
			background: #444;
		}

.closed span {
	padding: 2px;
	display: block;
}

.closed input, .closed div, .opened span {
	display: none;
}

.opened input {
	width: 80%;
	margin-right: 2px;
}

.actions_button {
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

#actions {
	display: none;
}

.news-tab-header {
	/* display: grid; */
	display: table;
	width: 100%;
	background: #fff;
	/* flex-direction: row; */
	/* justify-content: space-between; */
	padding: 0;
	/* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
	justify-items: stretch;
	/* align-items: center; */
}

.news-tab-button {
	padding: .25em 1em;
	/* border-right: 1px solid #eee; */
	font-weight: 500;
	color: #444;
	cursor: pointer;
	/* height: 100%; */
	text-align: center;
	display: table-cell;
}

.news-tab-button:last-child {
	border-right: 0;
}

	.news-tab-button.news-tab-selected {
		color: #206fb6;
	}

	.dark .news-tab-button {
		border-color: #000;
		color: #ccc;
	}

		.dark .news-tab-button.news-tab-selected {
			color: #3cace2;
		}

.news-tab-button:hover {
	color: #206fb6;
}

.dark .news-tab-button:hover {
	color: #1e8ef7;
}

.news-tab-content {
	display: none;
}

	.news-tab-content.news-tab-selected {
		display: block;
	}

.news-add {
	display: block;
	border: 2px dashed #ccc;
	background-color: #fff;
	padding: .2em 1em;
	margin-bottom: 1em;
	cursor: pointer;
	font-weight: 500;
	color: #666;
	text-decoration: none;
}

	.news-add:hover {
		color: #3cace2;
		border-color: #3cace2;
	}

.dark a[href].news-add {
	border-color: #3d3c3c;
	background-color: #292929;
	color: #999;
}

	.dark a[href].news-add:hover {
		color: #1e8ef7;
		border-color: #1e8ef7;
	}