<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<connectionStrings>
		<add name="Site" connectionString="Data Source=WEB\SQLEXPRESS; Initial Catalog=Site; Persist Security Info=True; User ID=Site; Password=Site" providerName="System.Data.SqlClient" />
		<add name="Devin" connectionString="Data Source=WEB\SQLEXPRESS; Initial Catalog=Everest; Persist Security Info=True; User ID=user_everesr; Password=EveresT10" providerName="System.Data.SqlClient" />
		<add name="Dbf" connectionString="Provider=vfpoledb; Data Source=\\10.178.9.42\out; Extended Properties=dBASE IV; User ID=Admin; Password=" />
		<add name="Checkpoint" connectionString="DataSource=guard2; Database=guard2:D:\\ib\\RSTART.FDB; User=SYSDBA; Password=masterkey;" providerName="Firebird" />
		<add name="Phonebook" connectionString="Provider=Microsoft.Jet.OLEDB.4.0; Data Source=&quot;\\fs\Programs\Phonebook\База телефонов.mdb&quot;; Persist Security Info=True" providerName="Access" />
	</connectionStrings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
