@{
	ViewBag.Title = "Задачи и функции филиала";
	Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h3>Задачи и функции филиала "Витебская ТЭЦ" РУП "Витебскэнерго"</h3>

<p>
	<b>1.Основными задачами Филиала являются следующие основные виды экономической деятельности:</b>
</p>
<p>
	1.1.производство электроэнергии тепловыми электростанциями;
	<br />1.2. производство тепловой энергии тепловыми электростанциями;
	<br />1.3. передача Электроэнергии;
	<br />1.4. передача тепловой энергии тепловыми сетями;
	<br />1.5. техническое обслуживание (эксплуатация и ремонт), реконструкция и модернизация энергетического и технологического оборудования (далее электроэнергетические объекты Филиала);
	<br />1.6. внедрение информационных технологий;
	<br />1.7. иные виды деятельности соответствующие предмету, целям деятельности Филиала.
</p>
<p>
	<b>2. Филиал в соответствии с основными задачами выполняет следующие функции:</b>
</p>
<p>
	2.1. осуществляет:
	<br />2.1.1. производство, передачу электрической и тепловой энергии;
	<br />2.1.2. внедрение энергосберегающих и новых технологий;
	<br />2.1.3. рациональное использование топливно-энергетических ресурсов;
	<br />2.1.4. планирование и проведение технического обслуживания (эксплуатации и ремонта), материальное и техническое снабжение и топливообеспечение электроэнергетических объектов Филиала;<br />2.1.5. обеспечение готовности электроэнергетических объектов Филиала к осенне-зимнему периоду;
	<br />2.1.6. проведение анализа структуры потребления электрической и тепловой энергии,
	включая составление и анализ балансов электрической и тепловой энергии;
	разработку перспективных и годовых балансов энергии и их выполнение;
	<br />2.1.7. содержание зданий, сооружений, оборудования при производстве, передаче и распределении
	электрической и тепловой энергии в соответствии с установленными требованиями;
	<br />2.1.8. разработку и реализацию комплекса мер по обеспечению здоровых и безопасных условий труда,
	соблюдение законодательства об охране труда, принятие необходимых мер по профилактике производственного травматизма
	и профессиональных заболеваний работников организаций, по пожарной безопасности и охране окружающей среды;
	<br />2.1.9. соблюдение установленных технических регламентов и нормативов при производстве продукции (работ, услуг),
	требований производственного процесса, технологии изготовления продукции (работ, услуг),
	а также обеспечение требований по рациональному использованию сырья, материальных и человеческих ресурсов;
	<br />2.1.10. контроль за функционированием системы мониторинга и прогнозирования чрезвычайных ситуаций
	природного и техногенного характера на Филиале;
	<br />2.1.11. разработку и выполнение мероприятий по предупреждению и ликвидации чрезвычайных ситуаций на электроэнергетических объектах Филиала;
	<br />2.1.12. принятие в соответствии с законодательством мер по мобилизационной подготовке, поддержанию в постоянной готовности
	электроэнергетических объектов Филиала к проведению спасательных, аварийно-восстановительных работ и проведения аварийно-спасательных,
	восстановительных и других работ на объектах электроэнергетики после происшедших чрезвычайных ситуаций природного или техногенного характера;
	<br />2.1.13. развитие, внедрение современных интегрированных информационных систем и технологий (в том числе электронных услуг);
	<br />2.1.14. разработку и реализацию мероприятий и программ, направленных на повышение эффективности работы и улучшение
	финансового состояния Филиала, снижение непроизводственных затрат, повышение эффективности производства и управления;
	<br />2.1.15. предоставление первичных статистических данных в объёме и в сроки, указанные в формах государственных статистических наблюдений,
	в порядке, установленном республиканским органом государственного управления в области государственной статистики;
	<br />2.1.16. предоставление данных в объеме и в сроки, указанные в формах ведомственной отчетности,
	утверждаемых уполномоченным органом, в порядке, установленном законодательством;
	<br />2.1.17. проводит кадровую политику на филиале, включающую:
	<br />2.1.17.1. разработку и реализацию политики по вопросам социальной защиты работников;
	<br />2.1.17.2. осуществляет в установленном законодательством порядке рассмотрение обращений юридических лиц и граждан,
	в том числе индивидуальных предпринимателей;
	<br />2.1.18. выполняет иные функции в соответствии с законодательством и поручениями Предприятия,
	уполномоченного органа, ГПО "Белэнерго" (пункты 14, 16 главы 2 "Предмет, основные цели и задачи Положения о филиале "Витебская ТЭЦ" РУП "Витебскэнерго",
	утвержденного приказом РУП "Витебскэнерго" 24.08.2015 №1010).
</p>