@{
	ViewBag.Title = "История";
	Layout = "~/Views/Shared/_MainLayout.cshtml";
	ViewBag.IsFix = true;
	ViewBag.Fix = "1000px";
}

<div>
	<h3>Истоки рождения и хроника развития Витебской ТЭЦ</h3>

	<p>&emsp;Запуск первого трамвая поспособствовал тому, что Витебск оказался в числе первых городов Беларуси, где появилась электроэнергия. Строительство здания первой электростанции – тогда она называлась Центральной – началось в 1897 году. Объект был сдан ровно через год, его мощность  составляла 200 л.с.</p>

	<div class="image_line">
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/01 - Фото.jpg" />
	</div>

	<p>&emsp;Ее основное предназначение, - обеспечить бесперебойную работу городского электротранспорта. Кстати, станция принадлежала не городским властям, а Бельгийскому акционерному обществу "Витебский трамвай".</p>
	<p>&emsp;Вместе со строительством здания первой электростанции отмечается бесспорный рост уровня культуры города и улучшения  быта горожан. Во-первых, наиболее состоятельные граждане проводили электричество в свои дома. Во-вторых, с помощью электротока осветили и приукрасили Витебск: город приобрел совершенно новый облик. Городская дума, театр, улицы засверкали в ярком свете, а вечерний Витебск приобрел свою особенность.</p>
	<p>&emsp;Здание первой электростанции подавало электричество по пяти основным линиям электросетей: Вокзал, Центральная, Смоленская, Могилевская и Задуновская. В  1910 году ее мощность составила 600 кВт. А в 1913-м, здесь на нужды Витебска и горожан было произведено более 618 тысяч кВт/ч энергии.</p>
	<p>&emsp;К 1922 году здание первой электростанции перешло в собственность коммунхоза "Водосвет". А май следующего года (1923 год) стал знаменательной датой в жизни объекта – в это время в ряды почетных машинистов зачислили Владимира Ленина. (В последующим, эта «Почетная миссия» была передана, - Витебской ТЭЦ ).</p>

	<div class="image_line">
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/02-01 - Фото.jpg" />
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/02-02 - Фото.jpg" />
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/02-03 - Фото.jpg" />
	</div>

	<p>&emsp;С каждым годом увеличивалась потребность Витебска и его горожан в электроснабжении, поэтому в середине 20-х нагрузка на электростанцию была чрезмерно велика. Назрела необходимость строить новую, более мощную, но планы так и остались планами. Поэтому было решено модернизировать имеющуюся, установив дополнительный агрегат, увеличивающий мощность.</p>
	<p>&emsp;Но с началом 1930-х годов станция перестала быть центральной с вводом в эксплуатацию Белорусской ГРЭС в Оршанском районе.</p>

	<div class="image_line">
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/03-01 - Фото.jpg" />
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/03-02 - Фото.jpg" />
	</div>

	<small>Адрес здания первой электростанции: г.Витебск, пр-т Фрунзе, 13. В результате реконструкции здание первой электростанции восстановили, правда, уже без дымовой трубы. В 1988 году, здесь открыли Литературный музей, который действует по настоящее время.</small>

	<p>&emsp;До 1941 года снабжение Витебска электроэнергией осуществлялось от Белорусской ГРЭС по ЛЭП напряжением 110 кВ, построенной по плану ГОЭРЛО. Тепловую нагрузку обеспечивали индивидуальные котельные установки предприятий и коммунальных учреждений города. Витебск динамично развивался, славился своими фабриками, заводами, благоустройством, зеленью и культурой.</p>
	<p>&emsp;К сожалению, во время войны, Витебск был практически разрушен. После его освобождения в июне 1944г., город не имел базы для обеспечения жизнедеятельности и своего существования.</p>
	<p>&emsp;Но уже через год после освобождения республики от фашистских захватчиков, правительство вплотную приступило к реализации программы восстановления городов, промышленности, социальной сферы и транспорта.</p>
	<p>&emsp;17 мая 1945 года Постановлением Совета Народных Комиссаров Белорусской ССР № 658 было принято решение «О строительстве Витебской городской электростанции…».</p>
	<p>&emsp;Проектное задание на строительство Витебской ТЭЦ с установкой турбоагрегата мощностью 6,35 МВт и двух котлоагрегатов общей паропроизводительностью 100 т/ч было утверждено Главэнергоуправлением при Совете Министров БССР протоколом №38 от 27 сентября 1947 года, топливо – фрезерный торф.</p>
	<p>&emsp;Уже в 1949 году выполнена закладка фундаментов главного корпуса.  Первая очередь электроцентрали сооружена по проекту ГСПИ «Промэнергопроект». Строительство станции выполняли коллективы треста №4 Главпромстроя БССР, прорабский участок – Р.С.Гуревич, треста «Союзтеплострой» Министерства строительства СССР, монтаж теплоэнергооборудования вел участок треста «Белэнергомонтаж», руководитель работ В.Н.Дивин, а электрооборудования  трест «Электроцентромонтаж» – мастер К.Я.Изофатов.</p>
	<p>&emsp;Строительство Витебской ТЭЦ входило в систему энергетического управления Министерства коммунального хозяйства республики, но в 1953 году решением Совета Министров СССР от 29.10.1952 г. №23304-Р и приказом Министерства электростанций СССР от 04.11.1952 г. №3-П строительство станции было передано в систему «Белорусэнерго».</p>
	<p>&emsp;С начала строительства в штате ТЭЦ состояло всего несколько человек: директор – К.С.Умецкий, начальник ПТО – В.А.Тульчинский, инженера С.В.Вайнер, В.С.Малыгин, рабочие склада И.Я.Комаров, О.Т.Богданова, шофер Зарехто.</p>
	<p>&emsp;В июне 1954 года сформировался коллектив руководящего, технического, наладочного и рабочего персонала, имевшего опыт работы на других станциях. Начальник котельного цеха В.З.Гольдин прибыл со Смолевичской ГРЭС, начальники электрического цеха Г.С.Марков и турбинного С.Е.Силков, мастер котельного цеха И.С.Азаренко, машинисты котлов В.Е.Ермаченко, З.Е.Еременко, слесарь Н.А.Зыппельт, дежурные инженеры И.А.Бобков, В.К.Дмитракович, а так же В.И.Медведева, И.Д.Антонюк, Ф.И.Маркович – с БелГРЭС. Рабочими в цеха станции пришли А.М.Пономарев, Г.Н.Долгин, Р.Б.Реуф, И.А.Бизунов, М.В.Огурцов, Н.М.Давыдовский, М.Ф.Дорофеев.</p>
	<p>&emsp;Это было время предпусковых работ. Начальник службы наладки РЭУ Д.Б.Цемехман был назначен техническим руководителем пуска, наладочные работы по турбине возглавлял К.Маркин. В этом же году на Витебскую ТЭЦ стали прибывать выпускники ВУЗов г.Минска, г.Ленинграда, Новомосковского энерготехникума. Молодые инженеры А.Н.Лисицын, А.Е.Нестерович дублировали должности ДИС на Белорусской ГРЭС, Э.К.Вардомский был назначен начальником тепловой лаборатории, а переведенный со Смолевичской ГРЭС И.С.Симонович – электрической лаборатории. Обязанности начальника химического цеха исполняла  инженер производственной службы «Белорусэнерго» Э.С.Речина, которую позже сменила А.Б.Сигал. Исполняющим обязанности главного инженера был А.Б.Бунис.</p>
	<p>&emsp;Витебская теплоэлектроцентраль, в составе котла  Штейн-Мюллер ст. № 1 и турбины фирмы ВВС (Браун Бовери Компани), была введена в эксплуатацию 27 декабря 1954 года.</p>

	<div class="image_line">
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/04-01 - Фото.jpg" />
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/04-02 - Фото.jpg" />
	</div>

	<p>&emsp;К этому времени уже была полностью восстановлена Белорусская энергосистема в составе Минских ТЭЦ-2 и 3, Белорусской и Смолевичской ГРЭС. В этот день начал свою работу пятый источник энергии в послевоенной Белорусской энергосистеме. С вводом в работу в 1955 году котла Штейн-Мюллер ст. № 2 было завершено строительство первой очереди ТЭЦ. Установленная электрическая мощность Витебской ТЭЦ составила 6350 кВт.</p>
	<p>&emsp;В связи с ростом тепловых нагрузок города, в 1954 году Министерство электростанций СССР приняло решение о строительстве второй очереди Витебской ТЭЦ.</p>
	<p>&emsp;В 1955 году Минским отделением ГСПИ «Промэнергопроект» начаты работы по проектированию расширения электростанции с установкой тогда современного энергооборудования высокого давления, - турбин ВПТ-25-4  ст. № 2,3 и котлов БКЗ-160-100Ф  ст. № 3,4,5.</p>
	<p>&emsp;В мае 1957 года начато сооружение главного корпуса и уже в декабре 1960 года смонтирован котел ст. № 3 и  турбогенератор ст. № 2 мощностью 25000 кВт был включен в энергосистему Белоруссии. В период 1961-1963 годы введены в эксплуатацию котлы ст. № 4,5 и турбогенератор ст. № 3. На этом завершилось строительство второй очереди ТЭЦ, электрической мощностью 50000 кВт. Суммарная установленная электрическая мощность Витебской ТЭЦ составила 56350 кВт.</p>

	<div class="image_line">
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/05-01 - Фото.jpg" />
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/05-02 - Фото.jpg" />
	</div>
	<div class="image_line">
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/05-03 - Фото.jpg" />
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/05-04 - Фото.jpg" />
	</div>

	<p>&emsp;Сооружение Витебской теплоэлектроцентрали позволило осуществить централизованное снабжение теплом предприятий Первомайского района и коммунально-бытового сектора центра города.</p>
	<p>&emsp;В 1957 году введен в действие паропровод «ТЭЦ – домостроительный комбинат», затем сооружены паропроводы «ТЭЦ - ковровый комбинат», «ТЭЦ – фабрика КИМ», далее магистраль шла до мебельной фабрики и завода сборного железобетона № 3. С вводом в 1963 году тепломагистрали «ТЭЦ – центральная часть города» начато устойчивое теплоснабжение горячей водой предприятий и жилищно-коммунального сектора города, а с 1971 года горячая вода подается по магистрали «ТЭЦ – ДОК».</p>
	<p>&emsp;С ростом тепловых нагрузок отопления и горячего водоснабжения в 1967 году отделом энергетики Госплана СССР принято решение об увеличении тепловой мощности ТЭЦ четырьмя водогрейными котлами.</p>
	<p>&emsp;В мае 1969 года начато сооружение водогрейной котельной. С декабря 1970 года по декабрь 1978 года введены в эксплуатацию четыре водогрейных котла ПТВМ-100 ст. № 1-4.</p>

	<div class="image_line">
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/06-01 - Фото.jpg" />
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/06-02 - Фото.jpg" />
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/06-03 - Фото.jpg" />
	</div>

	<p>&emsp;Сооружение водогрейной котельной обеспечило теплом потребителей в зоне строящейся тепломагистрали «Западная».</p>
	<p>&emsp;Строительство Витебской ТЭЦ – источника надежного теплоснабжения позволило проводить работы по реконструкции и расширению крупных предприятий Первомайского района города, а также строительству новых. Так, например, рядом с ТЭЦ вырос крупнейший в то время завод радиодеталей ПО «Монолит».</p>
	<p>&emsp;Коллектив Витебской ТЭЦ за годы своей деятельности проделал большую работу по внедрению передовой технологии, модернизации оборудования и экономии топливно-энергетических ресурсов.</p>
	<p>&emsp;Во время работы станции на фрезерном торфе, новаторы ТЭЦ в содружестве с сотрудниками отраслевого Центрального конструкторского бюро в 1971 году, создали машину для механизации разгрузки торфа, отмеченную дипломом третьей степени ВДНХ СССР. Инженеры А.П.Иванов и Г.С.Марков были награждены бронзовыми медалями выставки.</p>
	<p>&emsp;В 1969 году осуществлена модернизация  и внедрение системы водородного охлаждения генератора ТВС-30. В 1978 году завершены работы по модернизации проточной части  турбины ВПТ-25. Мощность турбин была увеличена на 10000 кВт.</p>

	<div class="image_line">
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/07 - Фото.jpg" />
	</div>

	<p>&emsp;Электрическая мощность второй очереди  Витебской ТЭЦ увеличилась на 20000 кВт. В период с 1972 по 1980 гг. турбины ст. № 2,3 переведены на работу в режиме ухудшенного вакуума, что позволило значительно улучшить технико-экономические  показатели ТЭЦ. Непосредственными участниками данных работ были: Д.М.Мазенков, Г.С.Марков, А.М.Пономарев, А.М.Минаев, С.В.Вайнер, В.Н.Масалков, В.Я.Квятковский, С.К.Гредель и П.П.Поразенко.</p>
	<p>&emsp;В период 1976-1979 годы по решению Госплана СССР осуществлен перевод всех энергетических котлов ТЭЦ на сжигание топочного мазута.</p>
	<p>&emsp;Все это позволило увеличить мощность Витебской ТЭЦ без установки дополнительного оборудования до 70000 кВт, против первоначальной – 56350 кВт. Значительно снизились удельные расходы топлива на электрическую и тепловую энергию. Так в 1985 году они составили 189,4 г/квт*ч. и 178 кг/Гкал, против соответственно 480 г/квт*ч  и 185,2 кг/Гкал в 1964 году.</p>
	<p>&emsp;В 1989 году введен в эксплуатацию комплекс природоохранных сооружений. Это улучшило экологические показатели ТЭЦ по промышленно-дождевым стокам.</p>
	<p>&emsp;В мае 1996 года завершена работа по централизации контроля и управления котельным и турбинным оборудованием с нового центрального теплового щита управления. Выполнен огромный объем работ по модернизации средств тепловой автоматики и измерений.</p>

	<div class="image_line">
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/08-01 - Фото.jpg" />
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/08-02 - Фото.jpg" />
	</div>
	<div class="image_line">
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/08-03 - Фото.jpg" />
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/08-04 - Фото.jpg" />
	</div>

	<p>&emsp;Летом 1998 года по проекту института «БелНИПИэнергопром» персоналом ОАО «МК-93» выполнена реконструкция ОРУ-110 кВ с заменой железобетонных опорных конструкций на металлические. Это позволило значительно повысить надежность работы станции и электроснабжения потребителей.</p>

	<div class="image_line">
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/09-01 - Фото.jpg" />
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/09-02 - Фото.jpg" />
	</div>

	<p>&emsp;В течении 1997-1998 гг. паровые энергетические котлы БКЗ-160-100 ст. № 3,4,5 модернизированы для сжигания газо-мазутного топлива, построен и включен в работу газорегуляторный пункт.</p>

	<div class="image_line">
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/10-01 - Фото.jpg" />
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/10-02 - Фото.jpg" />
	</div>

	<p>&emsp;Реконструкция котлоагрегатов выполнена персоналом ОАО «Белэнергоремналадка», ГПП «Белэнергоавтоматика» по проектам АО «Уралтехэнерго» и института «БелНИПИэнергопром». Строительство ГРП и внутриплощадочных газопроводов было осуществлено генподрядчиком СМП «Витебскэнергострой» и его субподрядчиками ОАО «Лукомльэнергомонтаж», Новополоцким участком «Белэнергозащита», ПКС «Энергоцентрмонтаж», ВМЦ «Белсантехмонтаж» по проектам института «БелНИПИэнергопром».</p>
	<p>&emsp;В период с 2000 по 2001 год переведены на сжигание природного газа котлы «Штейн-Мюллер» ст. №1,2. Реконструкция котлов ст. №1,2 выполнена персоналом ОАО «МК-93», ОАО «ЛЭМ», ГПП «Белэнергоавтоматика» по проектам института «БелНПИэнергопром», КБ ТНЦ «БЭРН», НИГП «БелТЭИ».</p>
	<p>&emsp;Осуществление указанных мероприятий позволило десятикратно снизить выбросы вредных веществ в атмосферу: 6995 т - в 1997 году и всего 586 т – в 2003 году.</p>

	<div class="image_line">
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/11 - Фото.jpg" />
	</div>
	<div class="image_line">
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/12-01 - Фото.jpg" />
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/12-02 - Фото.jpg" />
	</div>

	<p>&emsp;В 1999 году для контроля технологического процесса на котлоагрегате ст.№3 установлена локальная измерительная подсистема на базе контроллерной и компьютерной техники.</p>
	<p>
		&emsp;
		Начиная с 1999 года, на Витебской ТЭЦ начата замена масляных выключателей ВМГ-133, установленных на присоединениях  напряжением
		3-6 кВ, на вакуумные VD-4 c одновременной модернизацией релейных защит и автоматики, проведена полная замена устаревшего оборудования РУСН- 3кВ.
	</p>
	<p>&emsp;В 2000 году на станции приступили к внедрению частотных регулируемых электроприводов в целях снижения потребления электрической энергии механизмами собственных нужд.</p>
	<p>&emsp;Совместно со службой АСУ РУП «Витебскэнерго» на Витебской ТЭЦ внедрена компьютерная система «Пульсар» по контролю узлов коммерческого отпуска тепла сетевой водой и паром, потребления газа, отпуска и потребления электроэнергии. Система позволяет в реальном времени контролировать более 200 параметров по всем коммерческим узлам, видеть сводные балансы, архивы, отчеты, графики на рабочих местах всех заинтересованных служб (начальников смен станции, производственно-технического отдела, цеха ТАИ), руководства станции.</p>
	<p>&emsp;В 2001, 2002 годах  произведена замена циркуляционных насосов ст. №2 и №1, выработавших свой ресурс. В 2003 году заменены электрические кабели U=6 и 0,4 кВ, питающие оборудование береговой наcосной станции.</p>
	<p>&emsp;В 2003 году на станции произведена замена питательного насоса ст.№5. Установлен насос ПЭ-160-140 ОАО «Насосэнергомаш» (г.Сумы). Это позволяет экономить до 230 т.у.т. в год.  В 2004 году был организован отбор питательной воды от этого насоса на коллектор впрысков в РОУ, что так же приносит экономию до 95 т.у.т. в год.</p>
	<p>&emsp;В 2004 году по проекту РУП «БелНИПИэнергопром» введена в эксплуатацию закрытая стоянка автотранспорта. Строительство осуществлено генеральным подрядчиком СМП «Витебскэнергострой».</p>

	<div class="image_line">
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/13-01 - Фото.jpg" />
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/13-02 - Фото.jpg" />
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/13-03 - Фото.jpg" />
	</div>

	<p>&emsp;В этом же году произведена реконструкция открытого склада кислоты и щелочи химического цеха станции.</p>

	<div class="image_line">
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/14-01 - Фото.jpg" />
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/14-02 - Фото.jpg" />
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/14-03 - Фото.jpg" />
	</div>

	<p>&emsp;В 2004 году произведена замена масляных выключателей МКП-110М, установленных на открытом распределительном устройстве напряжением 110 киловольт (ОРУ-110 кВ), на современные элегазовые выключатели ВЭБ-110 производства ОАО «Уралэлектротяжмаш» (по проекту РУП «БелНИПИэнергопром»).</p>

	<div class="image_line">
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/15-01 - Фото.jpg" />
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/15-02 - Фото.jpg" />
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/15-03 - Фото.jpg" />
	</div>

	<p>&emsp;Совместно со специалистами Института Технической Акустики НАН Беларуси на Витебской ТЭЦ внедрена компьютерная и контроллерная система учета массы, уровня, температуры мазута, хранящегося в мазутных резервуарах ст. №1,2,3,4. В данной системе применены новейшие технические решения измерения массы мазута при помощи интеллектуальных зондов гидростатического давления.</p>
	<p>&emsp;23 апреля 2004 года РУП «Витебскэнерго» заключен контракт с ОАО «Силовые машины» (г.Санкт-Петербург) на поставку для замены выработавшей свой ресурс турбины ст. №3, - турбоустановки ПТ-35/40-8,8 с генератором типа ТФП-40-2МУЗ, а в 2005 году произведена его замена, что позволило увеличить установленную электрическую мощность станции до 75 мегаватт.</p>

	<div class="image_line">
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/16-01 - Фото.jpg" />
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/16-02 - Фото.jpg" />
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/16-03 - Фото.jpg" />
	</div>

	<p>&emsp;В 2011 году произведена замена турбины ст. №2 на турбоагрегат ПТ-40/50-8,8/1,0 производства ОАО «Калужский турбинный завод» г.Калуга, а также замена трансформатора связи с системой Т-31,5 МВА  на  трансформатор ТДН-40000/110 мощностью 40 МВА.</p>

	<div class="image_line">
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/17-01 - Фото.jpg" />
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/17-02 - Фото.jpg" />
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/17-03 - Фото.jpg" />
	</div>

	<p>&emsp;В 2010-2011г. для увеличения надежности работы ТЭЦ произведена реконструкция выводов тепловых сетей с установкой гидрозатвора. Данное решение позволило минимизировать риск повреждения оборудования в случае повышения давления сетевой воды в обратных тепломагистралях.</p>

	<div class="image_line">
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/18-01 - Фото.jpg" />
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/18-02 - Фото.jpg" />
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/18-03 - Фото.jpg" />
	</div>

	<p>&emsp;2010-2011г. - произведено строительство тепломагистрали «Лучеса» для обеспечения надежной работы ТЭЦ при снабжении тепловой энергии потребителей г. Витебска, а так же с учетом перспективы расширения зоны теплоснабжения ТЭЦ.</p>

	<div class="image_line">
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/19 - Фото.jpg" />
	</div>

	<p>&emsp;2011г. – с целью увеличения экономичности и уменьшения выбросов вредных веществ в атмосферу произведена установка РЭП на ТДМ котлоагрегата БКЗ 160-100 ст. №3. Данное мероприятие было включено в программу энергосбережения РУП «Витебскэнерго» на 2011-2012 гг. и позволило сэкономить 199 т.у.т и уменьшить расход э/э на собств. нужды на 531756 кВтч.</p>

	<div class="image_line">
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/20-01 - Фото.jpg" />
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/20-02 - Фото.jpg" />
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/20-03 - Фото.jpg" />
	</div>

	<p>&emsp;2012-2013г. - для повышения надежности работы ТЭЦ выполнена реконструкция схемы подпитки теплосети с заменой подпиточного  деаэратора и установкой охладителей подпиточной воды.</p>

	<div class="image_line">
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/21-01 - Фото.jpg" />
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/21-02 - Фото.jpg" />
	</div>

	<p>&emsp;2013 г. - для повышения надежности работы электротехнического оборудования на ОРУ-110 кВ, выполнена реконструкция ДЗШ-110 кВ с установкой УРОВ выключателей.</p>
	<p>&emsp;2013 г. – с целью повышения экономичности и надежности произведена модернизация котлоагрегата БКЗ-160-100 ст.№5 с заменой вентиляторов. Данное мероприятие было включено в программу энергосбережения РУП «Витебскэнерго» на 2014 год и позволило сэкономить 211 т.у.т и уменьшить расход э/э на собственные нужды на 692659 кВтч.</p>
	<p>&emsp;2014-2015 г. - для усиления безопасности и повышения надежности произведен ремонт дымовой трубы ст. №3 с заменой чугунного оголовка. Данные работы выполнены специалистами специализированной организацией ГПО «Белэнерго» - ЗАО «Белспецэнерго».</p>

	<div class="image_line">
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/22-01 - Фото.jpg" />
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/22-02 - Фото.jpg" />
	</div>

	<p>&emsp;В 2015 году для повышения экономичности произведена установка гидромуфты на ПЭН ст. №6. Данное мероприятие было включено в программу энергосбережения РУП «Витебскэнерго» на 2015-2016 гг. и позволило сэкономить 369 т.у.т и уменьшить расход э/э на собственные нужды на 1320170 кВтч.</p>

	<div class="image_line">
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/23-01 - Фото.jpg" />
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/23-02 - Фото.jpg" />
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/23-03 - Фото.jpg" />
	</div>

	<p>&emsp;2016г. – произведен капитальный  ремонт сборного газохода дымовой трубы ст. №2 с целью повышения надежности работы и исключения выбросов вредных веществ в атмосферу.</p>

	<div class="image_line">
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/24-01 - Фото.jpg" />
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/24-02 - Фото.jpg" />
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/24-03 - Фото.jpg" />
	</div>

	<p>&emsp;2017г. - произведен ремонт ячеек мокрого хранения коагулянта с заменой защитного слоя в здании разгрузустройства I очереди, в результате чего была повышена надежность работы установок химводоподготовки станции.</p>
	<p>&emsp;2017г. – для обеспечения надежной работы и выполнения требований законодательства  по охране окружающей среды произведена замена участка стального водовода технического водоснабжения сбросного DN1200 на НПВХ DN500.</p>

	<div class="image_line">
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/25-01 - Фото.jpg" />
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/25-02 - Фото.jpg" />
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/25-03 - Фото.jpg" />
	</div>

	<p>&emsp;2017г. - произведена термореновация торца здания и кровли  служебно-бытового корпуса  II очереди с целью улучшения условий труда работников и снижения тепловых потерь за счет применения современных теплоизоляционных материалов. Экономия топлива  от термореновации ограждающих конструкций зданий достигается за счет увеличения их термосопротивления. Данное мероприятие было включено в программу энергосбережения РУП «Витебскэнерго» на 2018 год.</p>

	<div class="image_line">
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/26-01 - Фото.jpg" />
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/26-02 - Фото.jpg" />
	</div>

	<p>&emsp;2017г. - произведен  ремонт контура горячего водоснабжения.</p>
	<p>&emsp;2018г. – выполнен комплекс работ по замене деаэратора Д-1,2 ата II очереди, включая замену трубопроводов, тепловой изоляции, арматуры с автоматическим регулированием. С поставленной задачей успешно справился Витебский участок филиала «Лукомльэнергоремонт» ОАО «Белэнергоремналадка».</p>

	<div class="image_line">
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/27-01 - Фото.jpg" />
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/27-02 - Фото.jpg" />
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/27-03 - Фото.jpg" />
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/27-04 - Фото.jpg" />
	</div>

	<p>&emsp;2018г. – произведен капитальный  ремонт дымовой трубы ст.№2 и ее оголовка с целью восстановления ее надежной работы и продления ресурса эксплуатации. Данные работы выполняются специалистами специализиро-ванной организацией  ГПО «Белэнерго» - ЗАО «Белспецэнерго».</p>

	<div class="image_line">
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/28-01 - Фото.jpg" />
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/28-02 - Фото.jpg" />
	</div>

	<p>&emsp;2019г. – произведен капитальный ремонт ОРУ-110кВ с  заменой железобетонных порталов, в объеме 1-го этапа, для восстановления надежной работы ОРУ-110кВ.</p>

	<div class="image_line">
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/29-01 - Фото.jpg" />
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/29-02 - Фото.jpg" />
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/29-03 - Фото.jpg" />
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/30 - Фото.jpg" />
	</div>

	<p>&emsp;2019г. - произведена замена барабана котлоагрегата  БКЗ 160-100 ст. №3 с целью повышения надежности его работы, а так же системы контроля управления, продления ресурса эксплуатации. Автоматизирован учет температурного режима работы котлоагрегата.</p>

	<div class="image_line">
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/30-01 - Фото.jpg" />
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/30-02 - Фото.jpg" />
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/30-03 - Фото.jpg" />
	</div>
	<div class="image_line">
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/30-04 - Фото.jpg" />
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/30-05 - Фото.jpg" />
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/30-06 - Фото.jpg" />
	</div>
	<div class="image_line">
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/30-07 - Фото.jpg" />
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/30-08 - Фото.jpg" />
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/30-09 - Фото.jpg" />
	</div>

	<p>&emsp;2020г.- произведена техническая модернизация котельного агрегата БКЗ-160-100 ст. № 4 с оснащением вентиляторов и дымососов РЭП.</p>
	<p>&emsp;2020г.- произведено внедрение автоматизированной системы контроля выбросов вредных веществ в атмосферу для дымовой трубы № 2.</p>
	<p>&emsp;Ежегодно на Витебской ТЭЦ ведется реконструкция и ремонты зданий и сооружений, производственных и служебных помещений, благоустройство территории.</p>

	<div class="image_line">
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/31-01 - Фото.jpg" />
	</div>
	<div class="image_line">
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/31-02 - Фото.jpg" />
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/31-03 - Фото.jpg" />
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/31-04 - Фото.jpg" />
	</div>
	<div class="image_line">
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/31-05 - Фото.jpg" />
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/31-06 - Фото.jpg" />
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/31-07 - Фото.jpg" />
	</div>
	<div class="image_line">
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/31-08 - Фото.jpg" />
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/31-09 - Фото.jpg" />
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/31-10 - Фото.jpg" />
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/31-11 - Фото.jpg" />
	</div>

	<div class="image_line">
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/31-12 - Фото.jpg" />
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/31-13 - Фото.jpg" />
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/31-14 - Фото.jpg" />
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/31-15 - Фото.jpg" />
	</div>
	<div class="image_line">
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/31-16 - Фото.jpg" />
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/31-17 - Фото.jpg" />
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/31-18 - Фото.jpg" />
	</div>

	<h3>ХАРАКТЕРИСТИКА ОБОРУДОВАНИЯ, МОЩНОСТИ</h3>

	<p>&emsp;Витебская ТЭЦ является филиалом Республиканского унитарного предприятия электроэнергетики «Витебскэнерго».</p>
	<p>&emsp;В состав Витебской ТЭЦ  входят следующие подразделения:</p>

	<ul class="list">
		<li>Котлотурбинный цех
		<li>Электрический цех
		<li>Цех тепловой автоматики и измерений
		<li>Химический цех
		<li>Топливно-транспортный цех
		<li>Ремонтно-строительный участок
		<li>Производственно-технический отдел
		<li>Планово-экономический отдел
		<li>Отдел материально-технического снабжения
		<li>Лаборатории металлов и сварки
		<li>Бухгалтерия
		<li>Отдел правового кадрового обеспечения и делопроизводства
	</ul>

	<p>&emsp;На Витебской ТЭЦ установлено следующее основное оборудование:</p>
	<ul class="list">
		<li>2 котла «Штейн-Мюллер» ст. № 1,2 производительностью по 50 т/ч;
		<li>3 котла  БКЗ-160-100 ст.№3-5 производительностью по 160 т/ч;
		<li>2 котла ПТВМ производительностью по 100 Гкал/ч;
		<li>2 турбоагрегата мощностью 40 и 45 МВт.
	</ul>

	<p>&emsp;Отпуск горячей воды от ТЭЦ жилищно-коммунальному сектору и предприятиям Западного и Центрального районов города   производится по четырем тепломагистралям «Центральная», «Западная», «ДОК» и «ВЗРД».</p>
	<p>&emsp;В настоящее время Витебская ТЭЦ осуществляет снабжение  паром  ОАО «Витебскдрев» по двум паропроводам с давлением пара 28 и 19 кг с/ см2, ОАО «Витебские ковры», ОАО «Витебский комбинат шелковых тканей» по паропроводу давлением пара 6 кг с/ см2, ОАО «Рубикон» по паропроводу  давлением пара 10 кг с/ см2, ОАО «Витебский завод радиодеталей» по паропроводу  давлением  пара 6 кг с/ см2.</p>
	<p>&emsp;Связь с энергосистемой осуществляется по шести линиям электропередач (ЛЭП) напряжением 110 кВ, снабжение электроэнергией близлежащих потребителей на напряжении 6 кВ производится кабельными линиями от трех закрытых распределительных устройств (ГРУ-6 кВ ст.№ 1,2,3).</p>

	<div class="image_line">
		<img class="image_bordered" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/32 - Фото.jpg" />
	</div>

	<h3>ЭТАПЫ РАЗВИТИЯ ВИТЕБСКОЙ ТЭЦ</h3>

	<table>
		<tr>
			<td>
				<img class="image_bordered" style="display: inline-block;" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/История/Web/33 - Фото.jpg" />
			</td>
			<td>
				<ul class="list">
					<li>1949 г. – Начато строительство главного корпуса I очереди
					<li>1954 г. – Введены в эксплуатацию котлоагрегат Штейн-Мюллер ст.№1 и турбина ст.№1 мощностью 6,35 МВт фирмы ВВС
					<li>1955 г. - Включен в работу котел Штейн-Мюллер ст.№2
					<li>1957 г. – Начато сооружение главного корпуса II очереди
					<li>1960 г. -  Включены в работу котлоагрегат БКЗ-160-100Ф ст. №3 и турбоагрегат ВПТ-25-4 ст..№2
					<li>1961 г. – Включены в работу котлоагрегат БКЗ-160-100Ф ст. №4 и турбоагрегат ВПТ-25-4 ст..№3
					<li>1963 г. - Включен в работу котлоагрегат БКЗ-160-100Ф ст. №5
					<li>1969 г. – Начато строительство водогрейной котельной
					<li>1970 г. – Приняты в эксплуатацию котел ПТВМ-100 ст..№1 и мазутное хозяйство
					<li>1972 г. -  Принят в эксплуатацию котел ПТВМ-100 ст..№2
					<li>1977 г. - Принят в эксплуатацию котел ПТВМ-100 ст..№3
					<li>1978 г. - Принят в эксплуатацию котел ПТВМ-100 ст..№4
					<li>1978 г. – Закончены работы по модернизации проточной части турбин ВПТ-25-4. Мощность станции возросла на 20 МВт
					<li>1979 г. – Котлоагрегаты ст. №1-5 переведены на сжигание мазута
					<li>1980 г. – Турбоагрегаты ВПТ-25-4 переведены на работу в режиме ухудшенного вакуума
					<li>1981 г. – Демонтирована турбина ст..№1
					<li>1989 г. – Введен в эксплуатацию комплекс природоохранных сооружений
					<li>1998 г. – Введен в работу ГРП, котлоагрегаты БКЗ-160-100Ф ст.№3-5 модернизированы для сжигания газо-мазутного топлива
					<li>2000 г. – Котлоагрегат Штейн-Мюллер ст. №1 модернизирован для сжигания газо-мазутного топлива
					<li>2001 г. - Котлоагрегат Штейн-Мюллер ст. №1 модернизирован для сжигания газо-мазутного топлива
					<li>2005 г. - Заменен турбоагрегат ст.№3
					<li>2011 г. -  Заменен турбоагрегат ст.№2,трансформатор связи Т-31.5МВА №2 на Т-40 МВА
					<li>2010-2011 г. - произведена реконструкция выводов тепловых сетей с установкой гидрозатвора.
					<li>2010-2011 г. - произведено строительство тепломагистрали «Лучеса».
					<li>2011 г. - произведена установка РЭП на ТДМ котлоагрегата БКЗ 160-100 ст. №3.
					<li>2012-2013 г. - выполнена реконструкция схемы подпитки с заменой подпиточного  деаэратора и установкой охладителей подпиточной воды.
					<li>2013 г. -  выполнена реконструкция ДЗШ-110 кВ с установкой УРОВ выключателей.
					<li>2013 г. - произведена модернизация котлоагрегата БКЗ-160-100 ст.№5 с заменой вентиляторов.
					<li>2014-2015 г.- произведен ремонт дымовой трубы ст. №3 с заменой чугунного оголовка.
					<li>2015 г. - произведена установка гидромуфты на ПЭН ст. №6.
					<li>2016 г. - произведен ремонт газохода от котлов ст.№3,4,5 к дымовой трубе ст. №2.
					<li>2017 г.  - произведен ремонт ячеек мокрого хранения коагулянта с заменой защитного слоя в здании разгрузустройства I очереди.
					<li>2017 г. - произведен ремонт участка водовода технического водоснабжения сбросного DN1200.
					<li>2017 г. - произведена теплореновация служебно-бытового корпуса  II очереди.
					<li>2018 г. - произведена замена деаэратора Д-1,2 ата II очереди.
					<li>2019 г. - произведена замена железобетонных порталов ОРУ-110кВ.
					<li>2019 г. - замена барабана котлоагрегата  БКЗ 160-100 ст. №3.
					<li>2020 г.- произведена техническая модернизация котельного агрегата БКЗ-160-100 ст. № 4 с оснащением вентиляторов и дымососов РЭП.
					<li>2020 г.- произведено внедрение автоматизированной системы контроля выбросов вредных веществ в атмосферу для дымовой трубы № 2.
				</ul>
			</td>
		</tr>
	</table>
</div>

<div class="modal_part modal_hide modal_overlay"></div>
<div class="modal_part modal_hide modal_body">
	<img class="modal_hide modal_image" id="modal-image" />
</div>

<script src="~/Content/lib/jquery/jquery-1.12.4.min.js"></script>
<script src="~/Content/lib/jquery_ui/jquery-ui.min.js"></script>

<script>
	$('.content .image_bordered').on('click', function (e) {
		$('#modal-image').attr('src', e.target.src.replace('Web', 'Originals'))
		$('.modal_overlay').fadeIn(150)
	})

	$('#modal-image').on('load', function () {
		$('.modal_body').fadeIn(150)
	})

	$('.modal_hide').on('click', function () {
		$('.modal_part').fadeOut(150)
	})
</script>