@{
	ViewBag.Title = "Сведения о руководителях филиала";
	Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h3>Сведения о руководителях филиала "Витебская ТЭЦ" РУП "Витебскэнерго"</h3>

<table>
	<tr>
		<td>
			<img src="http://www.vst.vitebsk.energo.net/big_photos/Станьковский Александр Станиславович.jpg" style="width: 200px;" />
		</td>
		<td>
			<p class="status">ДИРЕКТОР</p>
			<p class="name">Станьковский Александр Станиславович</p>
			<p>телефон внутренний <i>3-50</i></p>
			<p>городской <i>+375 (212) 37-34-24</i></p>
		</td>

		<td>
			<img src="http://www.vst.vitebsk.energo.net/big_photos/Матвиевич Алексей Петрович.jpg" style="width: 200px;" />
		</td>
		<td>
			<p class="status">ПЕРВЫЙ ЗАМЕСТИТЕЛЬ ДИРЕКТОРА - ГЛАВНЫЙ ИНЖЕНЕР</p>
			<p class="name">Матвиевич Алексей Петрович</p>
			<p>телефон внутренний <i>3-51</i></p>
			<p>городской <i>+375 (212) 37-34-23</i></p>
		</td>
	</tr>
	<tr>
		<td>
			<img src="http://www.vst.vitebsk.energo.net/big_photos/Каплевский Александр Яковлевич.jpg" style="width: 200px;" />
		</td>
		<td>
			<p class="status">ЗАМЕСТИТЕЛЬ ДИРЕКТОРА</p>
			<p class="name">Каплевский Александр Яковлевич</p>
			<p>телефон внутренний <i>3-54</i></p>
			<p>городской <i>+375 (212) 37-34-27</i></p>
		</td>

		<td>
			<img src="http://www.vst.vitebsk.energo.net/big_photos/Киров Виктор Викторович.jpg" style="width: 200px;" />
		</td>
		<td>
			<p class="status">ЗАМЕСТИТЕЛЬ ГЛАВНОГО ИНЖЕНЕРА</p>
			<p class="name">Киров Виктор Викторович</p>
			<p>телефон внутренний <i>3-53</i></p>
			<p>городской <i>+375 (212) 37-34-38</i></p>
		</td>
	</tr>
</table>