@{
    ViewBag.Title = "Структура филиала";
    Layout = "~/Views/Shared/_DocsLayout.cshtml";
}

<h3>Структура филиала "Витебская ТЭЦ" РУП "Витебскэнерго"</h3>

<img style="width: 100%" src="http://www.vst.vitebsk.energo.net/files/Одно окно/О филиале/Структура/Структура.jpg" />